{% extends "base1.html" %}
{% block content %}
{% include "principal/header.html" %}
<div class="col-md-8" id="internation" style="  height: 700px;" > 
<form id="form-Money" style=" margin-left: 200px;font-size: 15px;background:#534c62;color:#fff;padding:
 40px;margin-top: 50px;border-radius: 10px;width: 500px;" class="form" action="." method="POST">{% csrf_token %}
                        <h5 class="infos">Effectuer un depôt sur votre compte Un depôt sur votre compte Momobet</h5>
                         {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                    {% endfor %}
                 {% endif %}
                        <div class="form-group">
                                <label for="exampleFormControlSelect2">Operateur Mobile</label>
                                <select class="form-control form-control-sm" name="operateur" placeholder="operateur mobile">
                                        <option value="Orange Money">Orange Money</option>
                                        <option value="Mtn Money">Mtn Money</option>
                                        <option value="Flooz Money">Flooz Money</option>
                                </select>
                            </div>
                        
                         <div class="form-group">
    
                                    <label for="exampleFormControlInput1">Numero de Telephone </label>
                                    <input type="number" class="form-control" name="Numero" id="exampleFormControlInput1" placeholder="Numero de telephone">
                                    <small id="emailHelp" class="form-text text-muted"></small>
                        </div>
                        
                      <div class="form-group">

                            <label for="exampleFormControlInput1">Montant a deposser </label>
                            <input type="number" class="form-control" name="montant" id="exampleFormControlInput1" placeholder="Montant à Deposser">
                            <small id="emailHelp" class="form-text text-muted"></small>
                      </div>
                      <button class="btn btn-outline-success" type="submit">Valider</button>
                </form>
            </div>
          </div>
          </div>
{% include "principal/footer.html" %}
{% endblock %}